.App {

  height: 100vh;
  background-size: cover;
}

.Nav {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.app-logo {
  margin: 10px;
}

.login {
  border: 0;
  background-color: rgba(204, 187, 187, 0.543);
  border-radius: 5px;
  color: white;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  transition: ease 0.6s;
}

.login:hover {
  transform: scale(1.2);
}

/** Home Screen **/
.HomeScreen {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../public/assets/app-bg.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.HomeScreenContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tagline {
  width: 80%;
  text-align: center;
  max-width: 800px;
  color: white;
  font-size: 30px;
  width: 100%;
  margin: 20px;
}

.highlightContent {
  color: red;
  text-transform: uppercase;
  font-size: 40px;
}

.exploreButton {
  background-color: red;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.exploreButton:hover {
  background-color: #E94B4B;
}


/**Login Screen**/
.LoginScreen {
  display: flex;
  height: 100vh;
  justify-content: center;

}

.container {
  text-align: center;
  margin: auto;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  margin-bottom: 5px;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;

}

/**Receipe Page**/
.ReceipePage {
  padding-top: 50px;
  cursor: pointer;
}

.receipe_card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  text-align: center;
}

.receipe_card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 12px;
}

.receipe_title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
}


/** Responsive**/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .tagline {
    font-size: 18px;
  }

  .highlightContent {
    font-size: 25px;
  }

  .app-logo {
    width: 150px;
    object-fit: contain;
  }
}